.filter-input-panel {

  .wrapper {
    position: relative;
    input:focus::-webkit-input-placeholder {color:transparent;};
    input:focus::-moz-placeholder { color:transparent; };
    input:focus:-ms-input-placeholder { color:transparent; };

    .search-icon {
      position: absolute;
      width: 12px;
      z-index: 1;
      height: 12px;
      transform: rotate(-45deg);
      font-size: 25px;
      color: #54616b;
      top: 5px;
      left: 0;
      line-height: 32px;
    }

    .filter-input {

      input {
        position: relative;
        border: none;
        border-radius: 2px;
        height: 38px;
        width: 260px;
        font-size: 18px;
        color: black;
        padding: 5px 10px 5px 30px;
      }
    }
    .new-event-button {
        background-color: #010147;
        position: relative;
        border: none;
        border-radius: 2px;
        height: 60px;
        width: 260px;
        font-size: 22px;
        color: orange;
        padding: 5px 10px 5px 30px;
        margin-top: 10px;
        border: solid 4px orange;

    }
  }
}
