.nav-bar {
  display: flex;
  width: 100vw;
  position: fixed;
  justify-content: stretch;
  align-items: stretch;
  z-index: 2;
  left: 0;
  background-color: #01012b;

  ul li {
    padding: 5px 25px 5px 15px;
    display: table-cell;
  }

  // ul li.focused{
  //   color:#fff;
  //   background-color:#3b4148;
  // }

  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  ul {
    display:table;
    padding: 0;
    margin: 0;
    list-style:none;
  }

  p {
    margin: 15px 0px;
  }

  .nav-bar-logo {
    padding: 0px 75px 0px 25px;
    p {
      font-weight: bold;
      font-size: 25px;
    }
  }

  .nav-bar-option {
    cursor:pointer;
    color: white;
    transition:0.3s;
  }

  .nav-bar-link {
    text-decoration: none;
    color: white;
  }

  .nav-bar-option:hover {
    background-color: #545f67;
  }
}
