.time-line {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .time-line-header {
    text-align: center;

    .time-line-title {
      font-size: 25px;
      font-weight: 400;
      font-family: 'open-sans', sans-serif;
      border: solid 2px #3b4148;
      margin: 0;
      background-color: #3b3c48;
    }
  }

  .time-line-block {

    .time-line-path {
      background-color: #3b4148;
      width: 1%;
      height: 220px;
    }
  }
}
