.view-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left -50px;
  height: 300px;
  position: relative;

  p {
    position: absolute;
    left: 35px;
    bottom: 25px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
}
