@import 'normalize.css/normalize';

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 14px;
  line-height: 1.42857143;
}

main {
  padding-top: 65px;
}

#root {
  background-color: #3b4148;
  color: #d0d0d0;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
