.documents-view {
  display: flex;
  flex-direction: column;

  .filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 50px 10px 50px;
  }

  .path-container {
    padding: 5px 50px 5px 50px;
    font-size: 21px;
    font-weight: 800;
    color: #a2a3a5;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    min-height: 600px;
    padding: 30px 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;


    .clickalbe {
      box-shadow: none;
      transition: box-shadow 1s;
      border: 2px solid white;
    }

    .clickalbe:hover {
      border: 2px solid skyblue;
    }

    .folder {
      margin-right: 80px;
      color: grey;
      .folder-icon-wrapper {
        background-color: #d7d7d7;
        padding: 10px 40px;
        .folder-icon {
          height: 140px;
          width: 150px;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .image {
      cursor: pointer;
      margin-right: 80px;
      color: grey;
      .image-icon {
        height: 164px;
        width: 234px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  @media (max-width: 730px) {
    .main-container {
      padding: 30px 5px;
      .folder {
        margin-right: 40px;
      }
      .image {
        margin-right: 40px;
      }
    }
  }

  @media (max-width: 575px) {
    .main-container {
      padding: 30px 0px;
      .folder {
        margin-right: 10px;
      }
      .image {
        margin-right: 10px;
      }
    }
  }
}
