.event-overview {
  .header {

    .filter-input-panel {
      margin-left: auto;
    }
  }

  .events {
    background-color: #fff;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .event-link {
      text-decoration: none;
      flex-basis: 460px;
    }
  }

  @media screen and (max-width: 1250px) {

    width: 980px;

    .header {
      .filter-wrapper {
        margin-left: 109px;
      }
    }

    .events {
      padding: 5px 60px;

      .event-link {
        flex-basis: 420px;
      }
    }
  }

  @media screen and (max-width: 980px) {
    width: 860px;

    .header {
      .filter-wrapper {
        margin-left: 43px;
      }
    }

    .events {
      padding: 5px 12px;

      .event-link {
        flex-basis: 415px;
      }
    }
  }

  @media screen and (max-width: 860px) {
    width: 560px;

    .header {
      .filter-wrapper {
        margin-left: 2px;
      }
    }

    .events {
      padding: 5px 45px;

      .event-link {
        flex-basis: 500px;
      }
    }
  }

  @media screen and (max-width: 530px) {
    width: 350px;

    .events {
      padding: 5px 0px;

      .event-link {
        flex-basis: 350px;
      }
    }
  }
}

.dropdiv {
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.newEventButton {
  background-color: #01012b;
  color: orange;
  border: solid 3px orange;
  margin: 20px;
  padding: 10px;
}

